<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Code Here</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all">
</head>

<body>
    <div class="container">
        <%- include('../partials/header.ejs') -%>
        <main class="displayvalue">
            <section>
                <h1>Contact Us</h1>
                <p><strong>Email:</strong> spareek@uncc.edu</p>
                <p><strong>Local Phone:</strong> 313-313-3131</p>
                <p><strong>Toll free phone:</strong> 1-800-444-1234</p>
            </section>
        </main>
        <%- include ('../partials/footer.ejs') -%>
    </div>
</body>

</html>
