<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Code Here</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all">
</head>

<body>
    <%- include('../partials/header.ejs') -%>
    <div class="container">
      <p>There is some error in the ConnectionName</p>
    </div>

<p>There is some error in the ConnectionName</p>

  <%- include ('../partials/footer.ejs') -%>

</body>

</html>
