<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Code Here</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all">
</head>


<body>
    <div class="container">
        <%- include('../partials/header.ejs') -%>
        <main class="displayvalue">
            <section>
                <h1>Code Here</h1>
                <p>Welcome to Code Here.</p>
                <p><strong>Listen, Learn, Participate in Coding chellange and Grow.</strong></p>
                <p>Code Here give people a platform where aspiring developers, professionals and reserach enthusiasts can come together, take part in coding challenges, listen to webinars, discuss latest technology and showcase their research work.</p>
            </section>
        </main>
        <%- include('../partials/footer.ejs') -%>
    </div>
</body>

</html>
