
    <footer class="displayvalue navbar navbar-inverse footer">
        <div class="container-fluid borderhorizontal navbar-header">
            <a href="#">&copy;CCI Connections</a>
            <a href="../about">About</a>
            <a href="../contact">Contact Us</a>
            <a href="#" id="socialf" class="fa fa-facebook"></a>
            <a href="#" id="socialt" class="fa fa-twitter"></a>
        </div>
    </footer>
