        <nav class="navbar navbar-inverse">
            <div class="container-fluid borderhorizontal">
                <div class="navbar-header">
                    <a href="/"><img src="/images/Logo1.png" alt="Code Here Logo"></a>
                </div>
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="/newConnection"><span class="border"> Start a New Connection</span></a>&nbsp;</li>
                    <li><a href="/"><span class="border"> Logout</span></a>&nbsp;</li>
                    <li><a href="/savedConnections"><span class="glyphicon glyphicon-user"></span> My Connections</a>&nbsp;</li>

                </ul>
                <div class="nav-menu">
            <p class="nav-menu-item"><a href="/connections"><i> Connections</i></a></p>
        </div>


        </nav>
